* {
    box-sizing: border-box;
    
}

h1, h2, footer {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

footer {
    margin-top: 15px;
}

body {
  font-family: 'Roboto', sans-serif; 
  background-color: #E3F2FD;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    background: url(images/wall.jpg);
    background-position: top center;
    color: firebrick;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 20px;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.myPicture {
    border: 10px double black;
    border-radius: 80px;

}

ul {
    list-style-type: none;
    margin-top: 1rem;
    padding-left: 0;
}

.hobbies {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hobbies:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hobbies:nth-child(odd) {
    background-color: lightcoral;
}

.hobbies:nth-child(even) {
    background-color: lightskyblue;
}

.timeline {
    position: relative;
    padding-left: 80px;
    margin: 2rem 0;
    background-color: #bdc8d0;
    border-radius: 10px;
}

.timelineItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    width: 60px;
}

.timelineYear {
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
}

.timelineContent {
    padding: 10px 15px;
    
}

.timeline::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 125px; /* mitt på årtalskolumnen */
  width: 4px;
  height: 95%;
  background: black; /* vertikal linje */
}

.future {
    background-color: #FCE4EC;
    border-radius: 10px;
    padding: 10px;
    margin: 2rem auto;
    
}

.subHead {
    text-align: center;
}

.future > div {
    margin-bottom: 3rem;
}

.future > div:last-child {
    margin-bottom: 0;
}

.techTable {
    border: 2px solid grey;
    width: 100%;
    border-collapse: collapse;
}

.techTable tr, th, td {
    border: 1px solid grey;
    padding: 1em;
    text-align: left;
    overflow-wrap: anywhere;
    word-break: normal;
}

@media screen and (min-width: 600px){
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    header {
        display: flex;
        flex-direction: row;
        gap: 20px;
        text-align: left;
        justify-content: center;
    }

    .timeline {
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .timeline::before {
        display: none;
    }

    .timelineItems {
        display: contents;
    }

    .timelineYear {
        grid-column: 1;
    }

    .timelineContent {
        grid-column: 2;
    }
}